@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background-color:rgb(31, 31, 31);
  
}

h1{
  text-align: center;
  font-size: 100px;

  font-family: 'Bungee Spice';
}

canvas{
  
  display: block;
  

  
}
#lives, #current-round, #gold{
  font-family: 'Bungee Spice';
  font-size: 40px;
}

#current-round {
  /*position: absolute;
  right: 0;*/
}

#dead{
  
  position: absolute;
  
  text-align: center;
  width: 100vw;
  height: 300px;
  top: 310px;
  display: none;
  user-select: none;
  font-family: 'Bungee Spice';
  font-size: 200px;
}
.wrapper {
  display: flex;
  justify-content: center;
}


.game-info{
  width: 300px;
  display: flex;
  flex-direction: column;
  
  gap: 30px;
  

}
.game-info div{
  margin-left: 20px;
  
  

}

.placeholder {
  width: 300px;
}
.soldier-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#soldier-button {
 height: 60px; 
 width: 200px;
 border-radius: 10px;
 background-color: orangered;
 font-weight: bold;
 font-size: 20px;
}

#soldier-button:hover {
  background-color: brown;
}