@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 31);
}

h1 {
  text-align: center;
  font-size: 100px;
  font-family: "Bungee Spice";
}

main {
  display: flex;
  justify-content: center;
}

#lives,
#current-round,
#gold {
  font-family: "Bungee Spice";
  font-size: 40px;
}

#death-screen {
  display: none;
}

#dead {
  position: absolute;
  left: 50%;
  top: 370px;
  transform: translate(-50%, -50%);
  font-family: "Bungee Spice";
  font-size: 200px;
}

#restart-button {
  position: absolute;
  left: 50%;
  top: calc(370px + 150px);
  transform: translate(-50%, -50%);
}

#dart-monkey-button,
#catapult-monkey-button,
#restart-button,
#start-button {
  height: 60px;
  width: 200px;
  border-radius: 10px;
  background-color: orangered;
  color: #1d1d1f;
  font-weight: bold;
  font-size: 17px;
  border: 0px;
  font-family: "Inter";
}

#dart-monkey-button:disabled,
#catapult-monkey-button:disabled {
  background-color: rgba(163, 60, 29, 0.473);
}

#dart-monkey-button:hover,
#catapult-monkey-button:hover,
#restart-button:hover,
#start-button:hover {
  background-color: brown;
  cursor: pointer;
}

#dart-monkey-button:active,
#restart-button:active,
#catapult-monkey-button:active,
#start-button:active {
  background-color: darkred;
}

#start-button {
  margin-left: calc(50% - 125px);
  margin-top: 20px;
}

#left-container {
  width: 400px;
}

.tower {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: end;
  margin-right: 75px;
  margin-top: 40px;
  margin-left: auto;
}

.tower-box {
  display: block;
}

.tower-box svg {
  margin-right: 20px;
  height: 60px;
  width: 60px;
}

.tower-box span {
  display: block;
  font-family: "Inter";
  color: white;
  text-align: center;
  
}

.cost {
  margin-right: 20px;
}

#right-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#right-container div {
  margin-left: 75px;
}

#phone-alert {
  display: none;
}

@media only screen and (max-width: 1080px) and (orientation: portrait) {
  *:not(body, #phone-alert, head, html) {
    display: none;
  }
  #phone-alert {
    display: block;
    font-size: 20vw;
  }
}

@media only screen and (max-width: 1440px) and (orientation: landscape) {
  main {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    display: none;
  }

  #left-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    align-items: center;
  }
  #dart-monkey-button,
  #catapult-monkey-button {
    width: 15vw;
    font-size: 1.5vw;
  }
  #left-container span {
    font-size: 1.5vw;
  }
  .tower {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10px;
    min-height: 100px;
  }
  .tower-box svg {
    width: 15vw;
    height: 50px;
    margin: 0;
  }
  .cost {
    margin: 0;
  }
  .tower-box span {
    display: block;
    font-size: 10px;
  }

  #middle-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #canvas {
    height: 90vh;
  }

  #right-container {
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #right-container div {
    margin-left: 10px;
    font-size: 3vw;
  }
  #lives,
  #current-round,
  #gold {
    font-size: 20px;
    white-space: nowrap;
  }

  #start-button {
    position: absolute;
    top: 0;
    margin-left: calc(50vw - 100px);
    margin-top: calc(50vh - 30px);
  }

  #dead {
    font-size: 50px;
    position: absolute;
    top: 0;
    margin-left: calc(50vw - calc(143.8 / 2));
    margin-top: calc(50vh - 37.5px);
  }

  #restart-button {
    top: 0;
    left: 0;
    position: absolute;
    margin-left: calc(50vw);
    margin-top: calc(50vh + 30px);
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1440px) and (orientation: landscape) {
  h1 {
    display: block;
    position: absolute;
    width: 100vw;
  }
  #canvas {
    height: 60vh;
  }
  #dart-monkey-button, #catapult-monkey-button {
    width: 15vw;
  }
  .tower-box svg {
    width: 15vw;
  }
  #right-container div {
    font-size: 3vw;
  }
  #left-container button, #left-container span {
    font-size: 1.5vw;
  }
  #dead {
    font-size: 12vw;
  }
  #restart-button {
    margin-top: 60vh;
  }
}
